<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Employee</title>
    <th:block th:replace="fragments/head"></th:block>
<body>

<div th:replace="fragments/header:: headerUser"></div>
<h1>List Employee</h1>

<div class="container mt-5">
    <h1 class="text-center mb-4">Employee List</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <button style="border: none; float: right;margin-bottom:10px" class="btn btn-primary"><a style="text-decoration: none; color: white; float: right;" href="/employee/add">+ Create</a> </button>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Phone Number</th>
            <th>Action</th>
            <!-- Add more columns as needed -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.employeeId}"></td>
            <td th:text="${employee.employeeName}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.birthday}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td>
                <a th:href="@{/employee/edit/{id}(id=${employee.employeeId})}" class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{/employee/delete/{id}(id=${employee.employeeId})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<th:block th:replace="fragments/footer"></th:block>
</body>
</html>